/***diseño imagenes redes sociales***/
@charset "utf-8";
/* CSS Document */

input#inputEmail.form-control, input#nombreCompleto.form-control
, input#nombreUsuario.form-control, input#inputPassword.form-control
, select#selectTypeUser_login.form-control, select#selectTypeUser_registro.form-control{  
    background: none;
    color: #fff;
    font-size: 24px;
    height: 55px;
    border: none;
    border-bottom: 1px solid #fff;
    width: 60%;
	box-shadow: none;
	border-radius: 0px;
	margin:auto;
}

.btnRed{
	width:44px;
	height:44px;
	float:left;
	display:block;
	margin-left:70px;
	
	
}
.redes{
	border:1px solid red;
	text-align:center;
}
.fb{
	background:url(../images/icon-fb.png) no-repeat;
	width:44px;
	height:44px;
	display:block;
	
	
}
.tw{
	background:url(../images/icon-twitter.png) no-repeat;
	width:44px;
	height:44px;
	display:block;
}
.int{
	background:url(../images/icon-instagram.png) no-repeat;
	width:44px;
	height:44px;
	
	display:block;
}
button{
	border:none;
}
.pleca{
	background:url(../images/pleca.jpg) repeat-y;
}
.navbar-default .navbar-nav > li > a {
    color: #fff;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color:#CCC;
  background-color: transparent;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: #080808;
}
.avatar{
	width:34px;
	height:34px;
	float:left;
	margin-right: 10px;
    margin-top: -6px;
}
/*-----------------estilos para flehca en iconos--------*/
ul {
  list-style-type: none;
}

li {
  display: inline-block;
}

input[type="checkbox"][id^="cb"] {
  display: none;
}

input[type="radio"][id^="cb"] {
  display: none;
}

label {
  
  padding: 10px;
  display: block;
  position: relative;
  margin: 10px;
  cursor: pointer;
}

label:before {
  background-color: white;
  color: white;
  content: " ";
  display: block;
  border-radius: 50%;
  
  position: absolute;
  top: -5px;
  left: -5px;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 25px;
  transition-duration: 0.4s;
  transform: scale(0);
}

label img {
  height: 45px;
  width: 48px;
  transition-duration: 0.2s;
  transform-origin: 50% 50%;
}

:checked + label {
  border-color: #ddd;
}

:checked + label:before {
  content: "✓";
  background-color: #18d01b;
  transform: scale(1);
}

:checked + label img {
  transform: scale(0.9);
 /* box-shadow: 0 0 5px #333;*/
  z-index: -1;
}

/*------------------fin css para paloma-----*/
blockquote .small, blockquote footer, blockquote small {
    display: block;
    font-size: 80%;
    line-height: 1.42857143;
    color: #777;
}

/*-----------estilo para color menu en movil------*/
@media (max-width: 767px){
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #fbf8f8;
}
}
/***end diseño imagenes redes sociales***/

/**loading by eleno**/

/**circulos**/



.loading {
    margin: auto;
    text-align: center;
    width: 100%;
}

.loading span {
    -webkit-animation: loading 1s infinite alternate;
    background: #333;
    border-radius: 10px;
    display: inline-block;
    height: 10px;
    margin: 60px auto;
    width: 10px;
}

.loading span:nth-of-type(2) {
    -webkit-animation-delay: 0.2s;
    background: #444;
}
.loading span:nth-of-type(3) {
    -webkit-animation-delay: 0.4s;
    background: #555;
}
.loading span:nth-of-type(4) {
    -webkit-animation-delay: 0.6s;
    background: #666;
}
.loading span:nth-of-type(5) {
    -webkit-animation-delay: 0.8s;
    background: #777;
}

@-webkit-keyframes loading {
    0% {
        -webkit-transform: translatey(0);
        height: 10px;
        width: 10px;
    }
    100% {
        -webkit-transform: translatey(-40px);
        height: 20px;
        width: 20px;
    }
}



/****/


#loading {
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: fixed;
    display: block;
    opacity: 0.7;
    background-color: #fff;
    z-index: 99;
    text-align: center;
}

#loading-content {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    z-index: 100;
}

.hide{
    display: none;
}


/** barras ***/


.load{margin: 100px auto;width: 100px; height: 82px}
.bar{
    background: #99aaca;
    border: 1px solid #96a6c9;
    float: left;
    margin-right: 9px;
    margin-top: 6px;
    width: 10px;
    height: 58px;

    -webkit-animation: loading 1s steps(3, end) infinite;
    -moz-animation: loading 1s steps(3, end) infinite;
    -ms-animation: loading 1s steps(3, end) infinite;
}
.load .bar:nth-child(2){-webkit-animation-delay: 0.1s;
                        -moz-animation-delay: 0.1s;
                        -ms-animation-delay: 0.1s;
                        -o-animation-delay: 0.1s;
                        animation-delay: 0.1s;}
.load .bar:nth-child(3){-webkit-animation-delay: 0.2s;
                        -moz-animation-delay: 0.2s;
                        -ms-animation-delay: 0.2s;
                        -o-animation-delay: 0.2s;
                        animation-delay: 0.2s;}
@-webkit-keyframes loading{
    0%{}
    10%{margin-top: 6px; height: 60px; border-color:#d1d8e6;background-color:#bac5db; }
    20%{  margin-top: -10px; height: 70px; border-color:#d1d7e2; background-color:#c6ccda; }
    30%{ margin-top:6px; height:60px; border-color:#d1d8e6; background-color:#bac5db;}
    40%{margin-top:8px; height:54px;}

}
@-moz-keyframes loading{
    0%{}
    10%{margin-top: 6px; height: 60px; border-color:#d1d8e6;background-color:#bac5db; }
    20%{  margin-top: -10px; height: 70px; border-color:#d1d7e2; background-color:#c6ccda; }
    30%{ margin-top:6px; height:60px; border-color:#d1d8e6; background-color:#bac5db;}
    40%{margin-top:8px; height:54px;}

}
@-ms-keyframes loading{
    0%{}
    10%{margin-top: 6px; height: 60px; border-color:#d1d8e6;background-color:#bac5db; }
    20%{  margin-top: -10px; height: 70px; border-color:#d1d7e2; background-color:#c6ccda; }
    30%{ margin-top:6px; height:60px; border-color:#d1d8e6; background-color:#bac5db;}
    40%{margin-top:8px; height:54px;}

}
@keyframes loading{
    0%{}
    10%{margin-top: 6px; height: 60px; border-color:#d1d8e6;background-color:#bac5db; }
    20%{  margin-top: -10px; height: 70px; border-color:#d1d7e2; background-color:#c6ccda; }
    30%{ margin-top:6px; height:60px; border-color:#d1d8e6; background-color:#bac5db;}
    40%{margin-top:8px; height:54px;}

}

/****end loadin by eleno***/

/**ini view red social****/

/*
*  Basic Reset
*/
 
*,
*:after,
*:before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/**
 * Basics Styles
 */
html {
	font-size: 62.5%;
}
body {
	background-color: #eee;
	font-family: Roboto;
	font-weight: 400;
	font-size: 1.6em;
	line-height: 1.6;
	color: #666;
}

a {
	text-decoration: none;
	color: #3498db;
}
	a:hover {
		color: #2980b9;
	}

h2 {
	line-height: 1.2;
	margin-bottom: 1.6rem;
}

.wrapper {
	max-width: 400px;
	margin: 50px auto;
	padding-left: 1em;
	padding-right: 1em;
}

/**
 * Helpers
 */
.border-tlr-radius { 
	border-top-left-radius: 2px;
	border-top-right-radius: 2px; 
}

.text-center { text-align: center; }

.radius { border-radius: 2px; }

.padding-tb { padding-top: 1.6rem; padding-bottom: 1.6rem;}

.shadowDepth0 { box-shadow: 0 1px 3px rgba(0,0,0, 0.12); }

.shadowDepth1 {
   box-shadow: 
  		0 1px 3px rgba(0,0,0, 0.12),
    	0 1px 2px rgba(0,0,0, 0.24);      
}


/**
 * Card Styles
 */

.card {
	background-color: #fff;
	margin-bottom: 1.6rem;
}

.card__padding {
	padding: 1.6rem;
}
 
.card__image {
	min-height: 100px;
	background-color: #eee;
}
	.card__image img {
		width: 100%;
		max-width: 100%;
		display: block;
	}

.card__content {
	position: relative;
}

/* card meta */
.card__meta time {
	font-size: 1.5rem;
	color: #bbb;
	margin-left: 0.8rem;
}

/* card article */
.card__article a {
	text-decoration: none;
	color: #444;
	transition: all 0.5s ease;
}
	.card__article a:hover {
		color: #2980b9;
	}

/* card action */
.card__action {
	overflow: hidden;
	padding-right: 1.6rem;
	padding-left: 1.6rem;
	padding-bottom: 1.6rem;
}
	 
.card__author {}

	.card__author img,
	.card__author-content {
		display: inline-block;
		vertical-align: middle;
	}

	.card__author img{
		border-radius: 50%;
		margin-right: 0.6em;
	}

.card__share {
	float: right;
	position: relative;
	margin-top: -42px;
}

.card__social {
	position: absolute;
	top: 0;
	right: 0;
	visibility: hidden;
	width: 160px;
	transform: translateZ(0);
  	transform: translateX(0px);
  	transition: transform 0.35s ease;
}
	.card__social--active {
		visibility: visible;
		/*z-index: 3;*/
		transform: translateZ(0);
 		transform: translateX(-48px);
  		transition: transform 0.35s ease;
	}

.share-toggle {
	z-index: 2;
}
.share-toggle:before {
	content: "\f1e0";
	font-family: 'FontAwesome';
	color: #3498db;
}
	.share-toggle.share-expanded:before {
		content: "\f00d";
	}

.share-icon {
	display: inline-block;
	width: 48px;
	height: 48px;
	line-height: 48px;
	text-align: center;
	border-radius: 50%;
	background-color: #fff;
	transition: all 0.3s ease;
	outline: 0;

	box-shadow: 
	  		0 2px 4px rgba(0,0,0, 0.12),
	    	0 2px 4px rgba(0,0,0, 0.24);
}
	.share-icon:hover,
	.share-icon:focus {
		box-shadow: 
	  		0 3px 6px rgba(0,0,0, 0.12),
	    	0 3px 6px rgba(0,0,0, 0.24);

	    -webkit-transform: scale(1.2);
	    -moz-transform: scale(1.2);
	    -ms-transform: scale(1.2);
	    -o-transform: scale(1.2);
	    transform: scale(1.2);
	}

.facebook {
	background-color: #3b5998; 
}
.twitter {
	background-color: #00abe3; 
}
.googleplus {
	background-color: #d3492c;
}

.facebook,
.twitter,
.googleplus {
	color: #fff;
}

	.facebook:hover,
	.twitter:hover,
	.googleplus:hover {
		color: #eee;
	}
/**end view red social***/